*{
    margin: 0;
    padding: 0;
}

main{
    background: black;
    width: 100vh;
    height: 100vh;
    
    
}

p {
    color: white
    ;
}


.exemplo1 {
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.exemplo2 {
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.exemplo3 {
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.exemplo4 {
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.box1,
.box2,
.box3,
.box4{
    width: 20px;
    height: 20px;
    display: flexbox
}