body{
    background: rgba(27, 8, 73, 0.733);
    margin: 0;
    padding: 0;
    
    
}

header{
    background: rgba(27, 8, 73, 0.733);
    padding: 30px 0;
    height: 10px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    border: 2px black solid;
    text-align: center;
    font-size: x-large; 
}

.Itens-flex {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  
  
  
 
    
}

p{
  color: black;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  
    
}

.Exemplo1{
  width: 350px;
  height: 200px;
  background:rgb(144, 56, 233) ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 2%;
  border-radius:5px;
  
     
}   


.box1Ex1,
.box2Ex1,
.box3Ex1,
.box4Ex1 {
  width: 80px;
  height: 180px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
     
  
}
.Exemplo2{
  width: 350px;
  height: 200px;
  background:rgb(144, 56, 233)  ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 2%;
  border-radius:5px;
  
     
}   


.box1Ex2,
.box2Ex2,
.box3Ex2,
.box4Ex2 {
  width: 80px;
  height: 50px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  

}

.Exemplo3{
  width: 150px;
  height: 300px;
  background:rgb(144, 56, 233)  ;
  display: flex;
  justify-content: space;
  align-items: center;
  flex-direction: column-reverse;
  margin: 2%;
  border-radius:5px;
  
     
}   


.box1Ex3,
.box2Ex3,
.box3Ex3,
.box4Ex3 {
  width: 80px;
  height: 60px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.Exemplo4{
  width: 150px;
  height: 300px;
  background:rgb(144, 56, 233)  ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  border-radius:5px;
  
  
     
}   


.box1Ex4,
.box2Ex4,
.box3Ex4,
.box4Ex4 {
  width: 80px;
  height: 60px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}


.Exemplo5{
  width: 300px;
  height: 300px;
  background:rgb(144, 56, 233)  ;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
  margin: 2%;
  flex-wrap: wrap;
  border-radius:5px;
  
     
}   


.box1Ex5,
.box2Ex5,
.box3Ex5,
.box4Ex5 {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}


.Exemplo6{
  width: 350px;
  height: 200px;
  background:rgb(144, 56, 233)  ;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  margin: 5%;
  border-radius:5px;
  
     
}   


.box1Ex6,
.box3Ex6,
.box4Ex6 {
  width: 80px;
  height: 60px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.box2Ex6 {
  width: 80px;
  height: 100px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.Exemplo7{
  width: 350px;
  height: 200px;
  background:rgb(144, 56, 233)  ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 5%;
  border-radius:5px;
  
     
}   


.box1Ex7,
.box2Ex7,
.box3Ex7,
.box4Ex7 {
  width: 80px;
  height: 60px;
  background-color: white;
  margin: 10px 10px;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
